
<h1 class="mx-auto">Add User</h1>
<table class="table table-dark table-striped">

<tr>
<td>
<input class="form-control" type="text" name="name" id="name" placeholder="name">
</td>
</tr>

<tr><td>
<input class="form-control" type="text" name="email" id="email"  placeholder="email">
</td></tr>

<tr><td>
 <button id="addUserBtn" type="button" class="btn btn-outline-success btn-sm"><i class="bi-database-add"></i> Add User</button>
</td></tr>


</table>
<hr>

<script>
//create user
    document.getElementById("addUserBtn")
        .addEventListener("click", e =>{
            // console.log("add new user");
            const name = document.getElementById("name").value;
             document.getElementById("name").value = "";
            const email = document.getElementById("email").value;
            document.getElementById("email").value="";
            axios.post('http://localhost:8080/addUser', {
                  name,
                  email
              })
              .then(function (response) {
                console.log(response);
              })
              .catch(function (error) {
                console.log(error);
              });
     
   
});
</script>


