

<header class="bg-blue-700 flex justify-between text-white px-4 py-2">

<a href="" class="text-lg font-bold">Fill4</a>

<ul  class="hidden md:flex flex-row gap-6 ">


{{#if login}}
<li><a href="http://localhost/signout" id="signoutBtn" class="  text-white py-2 my-2  px-4 rounded-md " >{{ user.email }}</a></li>

<li><a href="http://localhost/signout" id="signoutBtn" class="  text-white py-2 my-2  px-4 rounded-md hover:bg-blue-200" >signout</a></li>

{{else}}

<li><a href="http://localhost/loginform" id="signinBtn" class="text-white py-2 my-2  px-4 rounded-md hover:bg-blue-200" >signin</a></li>

<li><a href="http://localhost/signupform" id="signupBtn" class="text-white py-2 my-2  px-2 rounded-md hover:bg-blue-200">signup</a></li>

{{/if}}


</ul>

<button class="md:hidden">
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
</svg>

</button>

</header>
