
<h1 class="mx-auto">Update User</h1>
<table class="table table-dark table-striped">

<tr>
<td>
<input class="form-control" type="text" name="update_id" id="update_id" placeholder="id">
</td>
</tr>
<tr>
<td>
<input class="form-control" type="text" name="update_name" id="update_name" placeholder="update_name">
</td>
</tr>

<tr><td>
<input class="form-control" type="text" name="update_email" id="update_email"  placeholder="update_email">
</td></tr>

<tr><td>
 <button id="updateUserBtn" type="button" class="btn btn-outline-success btn-sm"><i class="bi-database-add"></i> Add User</button>
</td></tr>


</table>
<hr>

<script>
//update-user
    document.getElementById("updateUserBtn")
        .addEventListener("click", e =>{
            // console.log("add new user");
            const update_id = parseInt(document.getElementById("update_id").value);
             document.getElementById("update_id").value = "";
            const update_name = document.getElementById("update_name").value;
             document.getElementById("update_name").value = "";
            const update_email = document.getElementById("update_email").value;
            document.getElementById("update_email").value="";
            axios.post('http://localhost:8080/updateUser', {

                  id    :update_id,
                  name  : update_name,
                  email : update_email
              })
              .then(function (response) {
                console.log(response);
              })
              .catch(function (error) {
                console.log(error);
              }); 
});

</script>