
{{!< layout}}

{{> miannav}}
<br>
<br>
<br>
<table class="bg-gray-800 text-white w-4/5 mx-auto">

<tr>
    <td class="py-2 px-4 font-medium border border-silver">Manage Cities</td>
    <td class="py-2 px-4 border border-silver">
    <a href="http://localhost/manage_cities">manage_cities</a>
    </td>
</tr>

<tr>
    <td class="py-2 px-4 font-medium border border-silver">Manage Business Types</td>
    <td class="py-2 px-4 border border-silver">
    <a href="http://localhost/businessType">Manage Business Types</a>
    </td>
</tr>

</table>



<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>