

<header class="bg-blue-700 flex justify-between text-white px-4 py-2">

<a href="" class="text-lg font-bold">Logo</a>

<ul  class="hidden md:flex flex-row gap-6 ">
<li><a href="http://localhost:8080/signupform" id="signupBtn" class="bg-blue-900  text-white py-2 my-2  px-4 rounded-md hover:bg-blue-200">signup</a></li>
<li><a href="#" id="signinBtn" class="bg-blue-900  text-white py-2 my-2  px-4 rounded-md hover:bg-blue-200" >signin</a></li>
<li><a href="#" id="signoutBtn" class="bg-blue-900  text-white py-2 my-2  px-4 rounded-md hover:bg-blue-200" >signout</a></li>
</ul>

<button class="md:hidden">
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
</svg>

</button>

</header>

{{!-- 
<h1 class="text-2xl md:text-4xl lg:text-6xl text-bubblegum ">Tailwind CSS</h1> --}}
<script>
//document.getElementById('signupBtn').addEventListener('click', (e)=>{
//axios.post('http://localhost:8080/signupform', { jsonData: { key1: 'value1', key2: 'value2' } })
  //.then(response => console.log(response.data))
  //.catch(error => console.log(error));

//console.log("ok")
//});
</script>