<!-- home.handlebars -->

{{!< layout}}

<h1 class="mx-auto">Users</h1>



<!-- main template -->
{{> addUser}}
{{> updateUser}}
{{> usersList}}

<button class="btn btn-sm btn-success" id="show">Refresh</button>


<script src="./usersListLogic.js"></script>