

{{!< layout}}

{{> miannav}}
<h1>data</h1>

<img class="p-1 m-1 "   src="images/main.png" alt="">
<br/>

<div class="bg-blue-500 flex justify-center  text-white px-4 py-2">
<h1>Search a Business</h1>
</div>


<div class="bg-blue-700 flex justify-center  text-white px-4 py-2">
{{> homeSearchNavCities}} &nbsp;&nbsp;
{{> homeSearchNavRegions}}&nbsp;&nbsp;
</div>


<div id="cardsDiv" class="flex flex-wrap md:flex-no-wrap justify-center">
{{!-- {{#each businessArray}} --}}
    {{> homePage/plumber  }}
    {{> homePage/electrition  }}
    {{> homePage/tutor  }}
    {{!-- {{> homePage/dentist  }} --}}
    {{!-- {{> homePage/lawer  }} --}}
    {{!-- {{> homePage/artist  }} --}}
    {{!-- {{> homePage/painter  }} --}}
    
{{!-- {{/each}} --}}
</div>


</div>

<hr>

<script src="js/homePage.js"></script>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>