
{{!< layout}}

    <div class="bg-grey-lighter min-h-screen flex flex-col">
            <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2 ">
                <div class="bg-lime-50 px-6 py-8 my-12 rounded shadow-md text-black w-full border-2">
                    <h1 class="mb-8 text-3xl text-center">Login</h1>
                  
                    <input 
                        type="text"
                        id="emailInput"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        name="email"
                        value="abc@gmail.com"
                        placeholder="Email" />
                        
                    <input 
                    id="passwordInput"
                        type="password"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        name="password"
                        value="123456"
                        placeholder="Password" />
                   
                    <input id="loginBtn" 
                    class="bg-lime-300 block border border-grey-light w-full p-3 rounded mb-4 hover:bg-lime-600 cursor-pointer" type="button" value="Login"/>
                    
                </div>

            </div>
        </div>

{{> footer}}

<script   src="./loginLogic.js"></script>
<script>

///////////////////////////
const btn = document.getElementById('loginBtn');
btn.addEventListener('click',loginLogic);

</script>