
{{!< layout}}

{{> miannav}}
<br>
<br>
<br>
<table class="w-3/4 mx-auto text-white bg-black border-silver border-silver-500 m-1 p-8">
  <tr>
    <td colspan="3" class="text-xl font-bold text-center">Create New City</td>
  </tr>
  <tr class="m-1 p-8 border-silver-500 border-2">
    <td class="py-4 pr-4 pl-4">City Name</td>
    <td class="py-4 pr-4 pl-4"><input type="text" id="newCityInput" class="border-silver-500 text-black"></td>
    <td class="py-4 pr-4 pl-4"><button id="newCityBtn" class="border-silver-500 text-green-200 font-bold">Create New City</button></td>
  </tr>
</table>
<script>

</script>
<br>
<br>
<div id="container">
</div>
<script src="/js/genTable.js"></script>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>