<!-- views/new.handlebars -->

{{!< layout}}


<h1>{{title}}</h1>
<p>{{body}}</p>


{{#if items}}
  <ul>
    {{#each items}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
{{else}}
  <p>No items to display.</p>
{{/if}}
