

<div class="bg-gray-200">
<div class="flex items-center justify-center h-screen">
    <form class="bg-gray-600 text-white  p-6 rounded-lg w-80" id="editCity">
    <h2 class="text-lg font-medium mb-4">Edit City</h2>
    <div class="mb-4">
        <label class="text-white block  font-medium mb-2" for="name">
        City Old Name
        </label>
        <h2 class="bg-gray-200 p-2 rounded-lg w-full text-black">{{cityName}}</h2> 

    </div>
    <div class="mb-4">
        <label class="block text-white font-medium mb-2" for="name">
        City New Name
        </label>
        <input 
        class="bg-gray-200 p-2 rounded-lg w-full text-black" 
        type="text" 
        id="name" 
        >
    </div>
    <div class="flex justify-end">
       
        <button class="bg-blue-500 text-white py-2 px-4 rounded-lg mx-auto" id="saveAndReturn">Save and Return</button>
    </div>
    </form>
</div>
</div>

<script>
document.getElementById('saveAndReturn')
.addEventListener('click', function(e) {
    e.preventDefault();

    const cityEditName = document.getElementById('name').value;
    document.cookie = `cityEditName=${cityEditName}`;
    document.cookie = "cityEditId={{city.id}}";
    axios.get("http://localhost/city/edit")
    .then( (response) =>{
        if (response.data.success==true){
            window.location.href = 'http://localhost/city/'
        }else {
        alert("Failed to save new city name");
        }
    });
    
});
</script>